<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.itmart.shoppingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminActivities.AddProductsActivity"></activity>
        <activity android:name=".AdminActivities.ManageProductsActivity" />
        <activity android:name=".AdminActivities.AddCategoryActivity" />
        <activity android:name=".AdminActivities.ManageCategoriesActivity" />
        <activity android:name=".AdminActivities.AdminDashboard" />
        <activity android:name=".CommonActivities.PasswordResetActivity" />
        <activity android:name=".CommonActivities.LoginActivity">

        </activity>
        <activity android:name=".CommonActivities.SignUpActivity" />
        <activity android:name=".SplashScreenActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>